.btnLove {
  box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 5 8px;
  position: relative;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  margin-left: -60px;
  top: -32px;
  text-decoration: none;

}
.icon-btn {padding: 10px 15px 6px 6px; border-radius:50px;    text-decoration: none;
}
.customer_likes{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width:60px;
    text-align:left;
    color:white;
    border-radius: 2px;
    }
